*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-color: rgb(216, 210, 200);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: rgb(87, 72, 52);
	margin: 0;
}

a {
	text-decoration: none;
	color: forestgreen;
}

a:hover,
a:active,
a:focus {
	color: darkolivegreen;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1.5em;
}


.logo {
	width: clamp(200px, 60vw, 500px);
	min-width: 20vw;
	margin: 2em auto;
}

.logo img {
	width: 100%;
}

main {
	margin: 4em auto;
	width: clamp(300px, 80vw, 800px);
}

footer {
	background-color: rgba(255, 251, 240, 0.5);
	padding: 1em;
	margin-top: 1em;
}

footer > div {
	width: clamp(320px, 80vw, 500px);
	margin: 0 auto;
}

footer p {
	margin: 0;
	margin-bottom: 0.3em;
	text-align: center;
}