/* COLORS */
$primary-color: #ccc1b6;
$secondary-color: #774f27;
$text-color: rgb(87, 72, 52);
$bg-color: rgb(216, 210, 200);
$bg-light-color: rgb(255, 255, 255);
$accent-color: #118511;

/* TYPOGRAPHY */
$font-family-base: Verdana, Geneva, Tahoma, sans-serif;

/* SPACING */
$base-spacing: 4px;
$base-radius: 4px;