@use 'var';
@use 'spacing';

/* BASIC SETUP */
*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: var.$bg-color;
	color: var.$text-color;
	font-family: var.$font-family-base;
}

a {
	color: var.$accent-color;
	text-decoration: none;

	&:hover,
	&:active {
		text-decoration: underline;
	}


}

/* FORMS */
button {
	background: none;
	border: thin solid var.$text-color;
	border-radius: var.$base-radius;
	-webkit-border-radius: var.$base-radius;
	-moz-border-radius: var.$base-radius;
	-ms-border-radius: var.$base-radius;
	-o-border-radius: var.$base-radius;
}

/* LAYOUT */
.container {
	margin: 0 auto;
	width: clamp(300px, 80%, 1000px);
	background-color: rgba($color: var.$primary-color, $alpha: 0.3);
}

.row {
	display: flex;
	flex-direction: row;
}

.d-flex {
	display: flex;
}
.flex-column {
	flex-direction: column;
}
.flex-row {
	flex-direction: row;
}
.justify-center {
	justify-content: center;
}
.justify-space-between {
	justify-content: space-between;
}
.align-center {
	align-items: center;
}

/* TRANSITIONS */
.page-enter-active,
.page-leave-active {
	transition: opacity 0.5s;
}

.page-enter,
.page-leave-active {
	opacity: 0;
}