@import "_var.scss";
/* @use 'spacing'; */

/* BASIC SETUP */
*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	overflow-y: auto !important;
}

/* BASE ELEMENTS */

.v-application a {
	text-decoration: none;

	&:hover,
	&:active {
		text-decoration: underline;
	}

	&.v-btn {
		text-decoration: none;
	}
}
.v-application .link-alt {
	color: var(--v-text-base);
}

.lang-link {
	padding: 4px 8px;
	line-height: 1em;
	color: var(--v-text-base) !important;
	transition: border-color 0.3s;
	border: thin solid transparent;

	&:hover,
	&.nuxt-link-exact-active {
		text-decoration: none !important;
		/* background-color: var(--v-basis-base); */
		border-color: var(--v-text-base);
	}
}

/* FORMS */

/* LAYOUT */
.font-deco {
	font-family: $font-deco !important;
}
.full-height {
	height: 100%;
}
.full-width {
	width: 100%;
}

/* TYPOGRAPHY */
.font-smaller {
	font-size: 0.8em;
}
.font-bigger {
	font-size: 1.2em;
}
.text-indent {
	text-indent: 1em;
}

/* TRANSITIONS */
.page-enter-active,
.page-leave-active {
	transition: opacity 0.5s;
}

.page-enter,
.page-leave-active {
	opacity: 0;
}
